<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="sidebar-container">
    <div class="sidebar-inner">
        <div class="user-info-container">
            <div class="user-info-avatar">
                <f:cObject typoscriptObjectPath="lib.frontenduseravatar"></f:cObject>
            </div>
            <div class="user-infos">
                <f:cObject typoscriptObjectPath="lib.frontendusertitle"></f:cObject>
                <div class="user-info-name">
                    <f:cObject typoscriptObjectPath="lib.frontendusername"></f:cObject>
                    <f:cObject typoscriptObjectPath="lib.frontenduserlastname"></f:cObject>
                </div>
            </div>
        </div>
        <f:if condition="{mainnavigation}">
            <nav id="mainnavigation" aria-expanded="true">
                <ul id="sidebar-nav">
                    <f:for as="item" each="{mainnavigation}">
                        <li class="sidebar-nav-item {f:if(condition: item.active, then:' active')}">
                            <a class="sidebar-nav-link" title="{item.title}" href="{item.link}">
                                <f:if condition="{item.icon}">
                                    <f:then>
                                        <f:image image="{item.icon.0}" class="sidebar-nav-icon"></f:image>
                                    </f:then>
                                </f:if>
                                <span class="sidebar-nav-link-text">{item.title}</span>
                            </a>
                        </li>
                    </f:for>
                </ul>
            </nav>
        </f:if>
    </div>
</div>

</html>
