*,
:before,
:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	// creating rem based on var base-rem which is used for rem() function
	font-size: calc(#{$rem-base} * 1px);
}

body {
	font-family: $font-family-main, sans-serif;
	font-weight: 400;
	color: var(--text, #1d0b1e);
	position: relative;
	margin: 0;
	background: var(--background, #fff);
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.section,
section {
	margin-top: clamp(48px, 5vw, 76px);
	margin-bottom: clamp(48px, 5vw, 76px);

	&.no-margin {
		margin-top: 0;
		margin-bottom: 0;
		&--top {
			margin-top: 0;
		}
		&--bot {
			margin-bottom: 0;
		}
	}
}


// headlines
@each $selector, $size in $headlines{
	.#{$selector}, #{$selector}{
	  font-size: calc(#{$size} * 1px);
	  line-height: calc(#{$size} * #{$headline-line-height-scale} * 1px);
	  font-family: $font-family-headline;
	  display: block;
	  text-rendering: optimizeLegibility;
	  hyphens: auto;
	  font-weight: bold;
	  word-wrap: break-word;
	}
  }


a {
	color: var(--link);
	text-decoration: underline;

	&[href] {
		 border: 1px solid var(--container-border);
	}
	
	&:hover {
		text-decoration: dashed;
		text-underline-offset: 2px;
		outline-color: var(--container-border);
	}

	&:focus {
		border-style: dotted;
		outline-style: dotted;
		border-width: 2px;
		outline-width: 2px;
	}
}

form {
    margin: auto;
}

.header-searchbox {
    border-radius: 5px;
    border: none;
    padding: 10px 50px;
    padding-left: 5px;
}

.header-searchbutton {
    appearance: none;
    background: #63B21F;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-weight: 700;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.header-searchbutton:hover {
    background-color: #FFF;
    color: #000;
    cursor: pointer;
}

#search-form {
    border: 1px solid #63B21F;
    margin-bottom: 25px;
}

.search-searchbox {
    border-style: solid;
    border-color: #63B21F;
    border-radius: 5px;
    padding: 10px 50px;
    padding-left: 5px;
}

.tx-indexedsearch-form {
    margin-bottom: 25px;
}