.employee {

    &__list {
        row-gap: var(--gutter);
    }

    &__item {
        display: flex;
        flex-direction: row;
        padding: rem(16) rem(24);
        gap: 34px;
        background: var(--light);
    }

    &__image {
        width: 100%;
        height: rem(72);
        max-width: rem(72);
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease-in-out;
    }

    &__details {
        display: flex;
        flex-direction: column;
        width: 100%;
        word-break: break-word;
    }

    &__title {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 1.3;
    }

    &__name {
        margin-bottom: 6px;
    }

    &__detail {
        font-size: 16px;
        line-height: 1.3;

        & + & {
            margin-top: 6px;
        }

        a {
            color: var(--primary);
            text-decoration: none;
            border-bottom: 1px solid var(--primary);

            &:hover,
            &:focus,
            &:active {
                border-bottom: 2px dashed;
            }
        }
    }

    &__label {
        font-weight: 700;
    }
}
