.headline {
    &-center {
        text-align: center;
    }

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }
}

.topline {
    width: 100%;
    display: block;
    margin-bottom: rem(4);
    text-transform: uppercase;
}
