.text {
    &__body {
        margin-top: 32px;
    }

    &-center {
        text-align: center;
    }

    &-end {
        text-align: right;
    }

    &-justify {
        text-align: justify;
    }
}
