.textpic {
    &__row {
        flex-flow: column;
        justify-content: space-evenly;
    }

    &__image {

        figure {
            margin: 0;
        }

        &-file {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        &-right {
            order: 2;
        }
    }
}

@include breakpoint-up(md) {
    .textpic {
        &__row {
            flex-flow: row;
            align-items: center;
        }
    }
}
