<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<section class="container image" id="c{data.uid}">
    <div class="row image__row">
        <div class="image__content {f:if(condition: '{data.layout} == 1', then: 'col-12 col-sm-12', else: 'col-10 cl-sm-10 col-md-8')}">
            <f:if condition="{data.subheader}">
            <span
                class="topline {f:if(condition: '{data.header} && {data.header_position}', then: 'headline-{data.header_position}')}">
                {data.subheader}
            </span>
            </f:if>
            <f:if condition="{data.header}">
                <f:render partial="Content/Header" arguments="{
                header: data.header,
                layout: data.header_layout,
                positionClass: '{f:if(condition: data.header_position, then: \'headline-{data.header_position}\')}',
                default: settings.defaultHeaderType}"/>
            </f:if>

            <f:for each="{data.media}" as="file">
                <f:render section="Image" arguments="{file: file, settings: settings}"/>
            </f:for>
        </div>
    </div>
</section>

<f:section name="Image">
    <figure class="image__figure">
        <picture>
            <f:render section="Source"
                      arguments="{breakpoint: settings.psi.breakpoints.desktop, cropVariant: 'default', file: file, width: '1400'}"/>
            <f:render section="Source"
                      arguments="{breakpoint: settings.psi.breakpoints.tablet, cropVariant: 'default', file: file, width: '900'}"/>
            <f:render section="Source"
                      arguments="{breakpoint: settings.psi.breakpoints.mobile, cropVariant: 'default', file: file, width: '500'}"/>

            <source media="{settings.psi.breakpoints.mobile.media}" type="image/webp"
                    srcset="{f:uri.image(image: file, width: '500', cropVariant: 'default',fileExtension: 'webp')}"/>

            <f:image image="{file}"
                     alt="{file.alternative}"
                     title="{file.title}"
                     width="500"
                     cropVariant="default"
                     loading="{settings.media.lazyLoading}"
                     decoding="{settings.media.imageDecoding}"
                     crop="{crop}"
                     class="image__file"/>
        </picture>
        <f:if condition="{file.description}">
            <figcaption>{file.description}</figcaption>
        </f:if>
    </figure>
</f:section>

<f:section name="Source">
    <source media="{breakpoint.media}" type="image/webp"
            srcset="{f:uri.image(image: file, width: width, cropVariant: cropVariant, fileExtension: 'webp')}"/>
    <source media="{breakpoint.media}" type="{file.properties.mime_type}"
            srcset="{f:uri.image(image: file, width: width, cropVariant: cropVariant, fileExtension: '{file.properties.extension}')}"/>
</f:section>

</html>
