<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<section class="container textpic">
    <div class="row textpic__row">
        <div class="textpic__image col-12 col-sm-12 col-md-5 {f:if(condition: '{data.layout} == 1', then: 'textpic__image-right')}">
            <f:for each="{data.assets}" as="file">
                <f:render section="Image" arguments="{file: file, settings: settings}"/>
            </f:for>
        </div>
        <div class="textpic__content col-12 col-sm-12 col-md-4">
            <f:if condition="{data.subheader}">
                <span class="subheadline">{data.subheader}</span>
            </f:if>
            <f:if condition="{data.header}">
                <f:render partial="Content/Header" arguments="{
                header: data.header,
                layout: data.header_layout,
                positionClass: '',
                default: settings.defaultHeaderType}"/>
            </f:if>
            <f:format.raw>{data.bodytext}</f:format.raw>
        </div>
    </div>
</section>

<f:section name="Image">
    <figure>
        <picture>
            <f:render section="Source"
                      arguments="{breakpoint: settings.psi.breakpoints.desktop, cropVariant: 'default', file: file, width: '600'}"/>
            <f:render section="Source"
                      arguments="{breakpoint: settings.psi.breakpoints.tablet, cropVariant: 'default', file: file, width: '400'}"/>
            <f:render section="Source"
                      arguments="{breakpoint: settings.psi.breakpoints.mobile, cropVariant: 'default', file: file, width: '500'}"/>

            <source media="{settings.psi.breakpoints.mobile.media}" type="image/webp"
                    srcset="{f:uri.image(image: file, width: '500', cropVariant: 'default',fileExtension: 'webp')}"/>

            <f:image image="{file}"
                     alt="{file.alternative}"
                     title="{file.title}"
                     width="500"
                     cropVariant="default"
                     loading="{settings.media.lazyLoading}"
                     decoding="{settings.media.imageDecoding}"
                     crop="{crop}"
                     class="textpic__image-file"/>
        </picture>
        <f:if condition="{file.description}">
            <figcaption>{file.description}</figcaption>
        </f:if>
    </figure>
</f:section>

<f:section name="Source">
    <source media="{breakpoint.media}" type="image/webp"
            srcset="{f:uri.image(image: file, width: width, cropVariant: cropVariant, fileExtension: 'webp')}"/>
    <source media="{breakpoint.media}" type="{file.properties.mime_type}"
            srcset="{f:uri.image(image: file, width: width, cropVariant: cropVariant, fileExtension: '{file.properties.extension}')}"/>
</f:section>

</html>
