<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<section class="container text" id="c{data.uid}">
    <div class="row text__row">
        <f:if condition="{data.subheader}">
        <span
            class="topline {f:if(condition: '{data.header} && {data.header_position}', then: 'headline-{data.header_position}')}">
            {data.subheader}
        </span>
        </f:if>
        <f:if condition="{data.header}">
            <f:render partial="Content/Header" arguments="{
                header: data.header,
                layout: data.header_layout,
                positionClass: '{f:if(condition: data.header_position, then: \'headline-{data.header_position}\')}',
                default: settings.defaultHeaderType}"/>
        </f:if>
        <f:if condition="{data.bodytext}">
            <div class="text__body">
                <f:format.raw>{data.bodytext}</f:format.raw>
            </div>
        </f:if>
    </div>
</section>

</html>
