<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<header id="page-header">

    <div class="header-inner">
        <div class="header-left-container">
            <button class="header-menu-toggle" id="menu-toggle" aria-expanded="true">
                <div class="menu-toggle-stripe"></div>
                <div class="menu-toggle-stripe"></div>
                <div class="menu-toggle-stripe"></div>
            </button>
            <div class="header-logo">
                <f:image src="EXT:psi/Resources/Public/Images/Tax-Office-Logo.png" width="200" title="{settings.logo.linktitle}"/>
            </div>
        </div>
        <f:if condition="{frontendusername}">
            <div class="header-search-container">
                <form method="post" action="{f:uri.page(pageUid: settings.psi.pageIds.searchresult, additionalParams:'{tx_indexedsearch_pi2: {action:\'search\',controller:\'Search\'}}')}">
                    <input class="header-searchbox" type="text" name="tx_indexedsearch_pi2[search][sword]" value="">
                    <button class="header-searchbutton">
                        <f:translate key="search-button" extensionName="psi"></f:translate>
                    </button>
                </form>
            </div>
        </f:if>
        <div class="language-menu">
            <ul id="language-navigation">
                <f:for as="lang" each="{languagenavigation}">
                    <f:if condition="{lang.available}">
                        <f:then>
                            <li>
                                <a title="{lang.title}" hreflang="{lang.hreflang}" href="{lang.link}">
                                    <span>{lang.title}</span>
                                </a>
                            </li>
                        </f:then>
                    </f:if>
                </f:for>
            </ul>
        </div>

    </div>
</header>

</html>
