<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<header id="page-header">

    <div class="header-inner">
        <div class="header-left-container">
            <button class="header-menu-toggle" id="menu-toggle" aria-expanded="true">
                <div class="menu-toggle-stripe"></div>
                <div class="menu-toggle-stripe"></div>
                <div class="menu-toggle-stripe"></div>
            </button>
            <f:link.page pageUid="1" class="header-logo" title="{settings.logo.linktitle}">
                <f:image src="EXT:psi/Resources/Public/Images/Tax-Office-Logo.png" width="200"/>
            </f:link.page>
        </div>
        <f:if condition="{frontendusername}">
            <div class="header-search-container">
                <form method="post" action="{f:uri.action(action: 'search', controller: 'Search', extensionName: 'IndexedSearch', pluginName: 'Pi2', pageUid: settings.psi.pageIds.searchresult)}">
                    <input type="text" name="tx_indexedsearch_pi2[search][sword]" value="">
                    <input type="submit" value="Suchen" name="tx_indexedsearch_pi2[search][submitButton]">
                </form>
            </div>
        </f:if>
        <div class="language-menu">
            <ul id="language-navigation">
                <f:for as="lang" each="{languagenavigation}">
                    <li>
                        <a title="{lang.title}" hreflang="{lang.hreflang}" href="{lang.link}">
                            <span>{lang.title}</span>
                        </a>
                    </li>
                </f:for>
            </ul>
        </div>

    </div>
</header>

</html>
